2ª Evaluación/Xml/Práctica 1 Darío Busto de Marcos/Practica2.2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT libro (titulo, autores, a単o_publi, editorial, ISBN, fecha_compra)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, apellidos)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT a単o_publi (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT fecha_compra (dia, mes, a単o)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT a単o (#PCDATA)>